! special
!*.foreground: #a6a29f
!*.background: #060403
!*.cursorColor: #a6a29f
! black
!*.color0: #060403
!*.color8: #5d4540
! red
!*.color1: #482a1a
!*.color9: #482a1a
! green
!*.color2: #353536
!*.color10: #353536
! yellow
!*.color3: #6e3d20
!*.color11: #be3d20
! blue
!*.color4: #524c44
!*.color12: #524c44
! magenta
!*.color5: #545454
!*.color13: #545454
! cyan
!*.color6: #be4f18
!*.color14: #be4f18
! white
!*.color7: #a6a29f
!*.color15: #a6a29f

!URxvt.font: xft:Iosevka SS04:size=9,xft:M+ 2m:size=10
!URxvt.letterSpace: -5
!URxvt.scrollBar: false
!URxvt.internalBorder: 35
!URxvt.inputMethod: ibus
!URxvt.preeditType: OverTheSpot
